<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quotes</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Vote a quote</h1>

  <form action="/messages" method="POST">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="Enter your Quote" name="quote">
    <button type="submit">Submit</button>
  </form>
  
  <ul class="messages">
  <% for(var i=0; i<messages.length; i++) {%>
    <li class="message">
      <span style= "color: <%= messages[i].color %>"><%= messages[i].name %></span>
      <span style= "color: <%= messages[i].color %>"><%= messages[i].quote %></span>
      <span class="hide"><%= messages[i].thumbUp %></span>
      <span class="hide"><%= messages[i].thumbDown %></span> 
      <span><%= messages[i].thumbUp-messages[i].thumbDown %></span>
      <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
      <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
      <button class="change">Change Text To Blue <%= messages[i].changeColor %></button>
    </li>
  <% } %>
  </ul>



  <script src="main.js"></script>

</body>
</html>
